@import url('reset.css');
@import url('header.css');
@import url('footer.css');
@import url('common.css');

body {
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    background-color: #222831;
    color: rgba(238,238,238,0.75);
    font-size: 1.125rem;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
    padding-top: 5.3125rem;
}
@media(max-width:31.25rem){
    .page {
        padding-top: 4.5625rem;
    }
}

[class*="__container"]{
    max-width: 1280px;
}

/*Main*/
.page__main {
}
.main {
    padding-top: 5.8125rem;
    padding-bottom: 6.125rem;
    border-bottom: 1px solid rgba(238,238,238,0.1);
}
.main__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.main__content {
    flex: 1 1 auto;
    padding-right: 1.25rem;
}
.main__title {
    font-weight: 700;
    font-size: 6rem;
    text-transform: uppercase;
    color:#eeeeee;
}
.main__title span {
    color:#00adb5;
}
.main__title:not(:last-child){
    margin-bottom: 3rem;
}
.main__buttons {
    display: flex;
    align-items: center;
    gap:1.5rem;
}
.main__hire-btn {
}
.main__cv-btn {
}
.main__cv-btn span{
    padding-right: 2.125rem;
    display: inline-block;
    background: url('../images/icons/download.svg') right no-repeat;
}
.main__image {
    flex:0 0 42.8%;
}
.main__image img {
    min-width: 100%;
}

@media (max-width: 80rem){
    .main {
        padding-top: 3.125rem;
        padding-bottom: 2.8125rem;
    }
    .main__container {
        flex-direction: column;
        align-items: stretch;
    }
    .main__content {
        padding-right: 0px;
    }
    .main__title {
        text-align: center;
    }
    .main__image {
        flex: 0 0 auto;    
    }
    .main__buttons {
        justify-content: center;
    }
}
@media(max-width:48rem) {
    .main__title {
        font-size: 4.0625rem;
    }
    .main__title:not(:last-child) {
        margin-bottom: 1.5625rem;
    }
    .main {
        padding-top: 2.1875rem;
        padding-bottom: 2.1875rem;
    }
}
@media (max-width:29.875rem){
    .main__title {
        font-size: 2.8125rem;
    }
    .main__buttons {
        gap: .625rem;
        flex-direction: column;
        align-items: stretch;
    }
}

/*About*/
.about {
    padding-top: 7.25rem;
    padding-bottom: 7.25rem;
}
.about__container {
    display: flex;
}
.about__content {
    flex: 1 1 auto;
    padding-right: 1.25rem;
}
.about__title {
}
.about__title:not(:last-child){
    margin-bottom: 1.25rem;
}
.about__text {
    max-width: 24.375rem;
    line-height: 1.5;
}
.about__image {
    text-align: center;
    flex: 0 0 53.2%;
}
.about__image img{
    max-width: 100%;
}

@media (max-width: 80rem){
    .about {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }
}
@media (max-width: 62rem) {
    .about {
        padding-top: 2.8125rem;
        padding-bottom: 2.8125rem;
    }
    .about__container {
        flex-direction: column;
    }
    .about__content {
        text-align: center;
        padding-right: 0;
        margin-bottom: 1.25rem;
    }
    .about__text {
        max-width: none;
    }
}